@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Sansita:ital,wght@0,400;0,700;0,800;0,900;1,400;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Sansita+One&display=swap");

:root {
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  background: linear-gradient(
    179.85deg,
    #b5efff 0.13%,
    #49fffb 49.51%,
    #49a6e3 91.46%
  );

  color: rgba(14, 14, 14, 1);
}

body {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

img {
  display: block;
  height: auto;
}

.list {
  list-style: none;
}

button,
a {
  cursor: pointer;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.button:hover {
  scale: 120%;
}

.header {
  position: fixed;
  width: 100%;
  z-index: 5;
  -webkit-transition: background-color 0.3s ease;
  transition: background-color 0.3s ease;
}

.header.is-open .header__background {
  left: 0;
}
.header__button-wrapper {
  margin-left: auto;
}
.header__icon {
  display: none;
}

.header__icon-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: transparent;
  border: none;
  border-radius: 50%;
}

.header__icon--menu {
  display: block;
}

.header__icon-button.is-open .header__icon--menu {
  display: none;
}

.header__icon-button.is-open .header__icon--close {
  display: block;
}

.header {
  position: fixed;
  width: 100%;
  z-index: 15;
  background: transparent;
  display: flex;
  height: 64px;
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(30px);
  box-shadow: 0px 2px 5px 0px rgba(1, 28, 53, 0.25);
  border-radius: 0px 0px 9px 9px;
}
.header__background {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 100%;

  z-index: -1;
  -webkit-transition: left 0.3s ease;
  transition: left 0.3s ease;
  background: rgba(255, 255, 255, 0.6);
  backdrop-filter: blur(30px);
}
.header.is-open .header__background {
  left: 0;
}
.header__button-wrapper {
  margin-right: auto;
  display: flex;
  align-items: center;
  justify-content: end;
}
.policy-terms-header__button-wrapper {
  margin-right: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header__icon {
  display: none;
}
.header__icon-button {
  display: flex;
  background-color: transparent;
  border: none;
  border-radius: 50%;
}

.header__icon--menu {
  display: block;
}

.header__icon-button.is-open .header__icon--menu {
  display: none;
}

.header__icon-button.is-open .header__icon--close {
  display: block;
}

.navigation {
  display: -ms-flexbox;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  padding: 12px;
  position: relative;
}

.navigation__list {
  display: flex;
  flex-direction: column;

  align-items: center;

  top: 130px;
  position: absolute;
  top: 100%;
  right: -100%;
  width: 100%;
  height: 357px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  z-index: 999;

  padding: 0px 32px;

  border-radius: 0px 0px 20px 20px;
  gap: 28px;
  background: rgba(255, 255, 255, 0.6);
  box-shadow: 0px 2px 5px 0px rgba(1, 28, 53, 0.25);

  backdrop-filter: blur(30px);
}
.navigation__list.is-open {
  right: 0;
}
.navigation__link {
  font-family: Poppins;
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  letter-spacing: 0%;
  text-decoration: none;
  color: rgba(14, 14, 14, 1);
  transition: all 0.3s ease-in-out;
  padding: 0 16px 10px;
}
.navigation__link:hover,
.navigation__link:focus {
  font-weight: 600;
  border-bottom: 1px solid rgba(14, 14, 14, 1);
}
.header.is-open {
  background-color: transparent;
}
.navigation-img {
  display: none;
}

@media screen and (min-width: 1200px) {
  .navigation-img {
    display: flex;
    margin-right: 400px;
  }
  .policy-terms-header__icon--menu {
    display: none;
  }

  .header {
    width: 100%;

    height: 90px;
    padding: 10px 0px 10px 00px;
    display: flex;
    align-items: center;
    justify-content: center;

    z-index: 1000;
  }
  .header__background {
  }

  .header__icon-button {
    display: none;
  }

  .navigation {
    display: flex;

    flex-direction: row;

    flex: 1;
    padding: 0;

    width: 1440px;
    margin: auto;
  }
  .navigation__list {
    background-color: transparent;
    flex-direction: row;
    display: flex;
    position: static;
    width: 1440px;
    margin: auto;

    padding-block: 0;
    flex: 1;
    gap: 56px;
    height: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: center;
  }
  .navigation__link {
    font-family: Poppins;
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    letter-spacing: 0%;
  }

  .header__icon-home-img {
    display: none;
  }
  .navigation__item-desk {
    display: none;
  }
}

.home {
  width: 375px;
  height: 933px;

  padding: 109px 0px 0px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url("/image/home/Hero\ section\ BG.png");
  margin: auto;
}

.home__container-top {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 289px;
  margin: auto;
}
.home-title {
  width: 289px;
  height: 264px;
}

.home-text {
  font-family: Sansita One;
  font-weight: 900;
  font-size: 38px;
  line-height: 57px;
  letter-spacing: 0%;
  text-align: center;

  color: rgba(255, 255, 255, 1);
  text-shadow: 0px 5px 5px rgba(23, 107, 206, 0.25);
  -webkit-text-stroke: 8px transparent;
  background: linear-gradient(180deg, #f423b5 20.83%, #1464cf 100%);
  -webkit-background-clip: text;
  background-clip: text;
  padding: 0px 0 38px;
}
.home__google-button_link:hover {
  transform: scale(1.1);
  transition: transform 0.3s ease-in-out;
}
.home-image {
  width: 375px;
  height: 383px;
}
@media screen and (min-width: 1200px) {
  .home {
    width: 1440px;
    height: 777px;
    padding: 109px 180px 0px;
    display: flex;
    align-items: start;
    gap: 125px;
  }
  .home__container-top {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    width: 439px;
  }
  .home-image {
    width: 523.0726928710938px;
    height: 580px;
  }
  .home-title {
    width: 439px;
    height: 396px;
  }

  .home-text {
    font-family: Sansita One;
    font-weight: 400;
    font-size: 52px;
    line-height: 78px;
    letter-spacing: 0%;
    text-align: center;
    padding: 0px 0 38px;
  }
}
.why {
  width: 375px;

  margin: auto;
  padding: 49px 16px 90px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url("/image/CTA\ BG.png");
}

.why-list {
  border-radius: 9px;
  padding-top: 32px;
  padding-right: 10px;
  padding-bottom: 32px;
  padding-left: 10px;
  background: rgba(255, 255, 255, 0.7);
  border: 4px solid #5a50c7;
  backdrop-filter: blur(13.5px);
}
.why-text {
  font-family: Poppins;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  letter-spacing: 0%;
  text-align: center;
  padding: 0 6px;
}
.why-text-two {
  font-family: Poppins;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  letter-spacing: 0%;
  text-align: center;
  padding: 24px 6px;
}
.why-text-bold {
  font-family: Poppins;
  font-weight: 600;
  font-size: 24px;
  line-height: 36px;
  letter-spacing: 0%;
  text-align: center;
  padding: 0px 6px 32px;
}
.why_link:hover {
  transform: scale(1.1);
  transition: transform 0.3s ease-in-out;
}
@media screen and (min-width: 1200px) {
  .why {
    width: 1440px;

    margin: auto;
    padding: 10px 389px 18px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-image: url("/image/CTA\ BG.png");
  }

  .why-list {
    border-radius: 9px;
    padding: 32px;
  }
  .why-text {
    font-family: Poppins;

    padding: 0 6px;
  }
  .why-text-two {
    font-family: Poppins;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 0%;
    text-align: center;
    padding: 26px 6px;
  }
  .why-text-bold {
    font-family: Poppins;
    font-weight: 600;
    font-size: 24px;
    line-height: 36px;
    letter-spacing: 0%;
    text-align: center;
    padding: 0px 6px 32px;
  }
  .why_link {
    margin: auto;
  }
}
.about {
  padding: 64px 0px 20px;
  margin: auto;
  width: 375px;

  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url("/image/about/Frame\ 209.png");
}

.about-title {
  font-family: Sansita One;
  font-weight: 900;
  font-size: 38px;
  line-height: 57px;
  letter-spacing: 0%;
  text-align: center;
  padding-top: 41px;
  -webkit-text-stroke: 1px rgba(238, 11, 190, 1);
  color: rgba(255, 255, 255, 1);
  text-shadow: 0px 1.5px 2.55px rgba(255, 0, 89, 0.25);

  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url("/image/title/Gallery\ H2.png");
}
.about-list {
  display: flex;
  flex-direction: column;
  gap: 78px;
  padding: 40px 25px;
}
.about-img {
  margin: auto;
  margin-bottom: -20px;
  position: relative;
  z-index: 10;
}
.about-text {
  font-family: Poppins;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  letter-spacing: 0%;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 325px;
  height: 250px;
  border-radius: 9px;
  padding-top: 20px;
  padding-right: 16px;
  padding-bottom: 20px;
  padding-left: 16px;
  background: rgba(255, 255, 255, 0.5);
  border: 4px solid rgba(255, 255, 255, 1);
  backdrop-filter: blur(36.099998474121094px);

  box-shadow: 1px 4px 13.9px 0px rgba(0, 80, 107, 0.25);
}
.about-text-bold {
  font-family: Sansita One;
  font-weight: 900;
  font-size: 38px;
  line-height: 57px;
  letter-spacing: 0%;
  text-align: center;
  color: rgba(255, 255, 255, 1);
  padding: 0 10px;
  -webkit-text-stroke: 1px rgba(238, 11, 190, 1);
}
@media screen and (min-width: 1200px) {
  .about {
    padding: 0px 0px 10px;
    margin: auto;
    width: 1440px;

    background-image: url("/image/about/Frame\ 210.png");
  }

  .about-title {
    font-family: Sansita One;
    font-weight: 400;
    font-size: 48px;
    line-height: 72px;
    letter-spacing: 0%;

    padding-top: 127px;
    -webkit-text-stroke: 3px rgba(238, 11, 190, 1);
    color: rgba(255, 255, 255, 1);
    text-shadow: 0px 1.5px 2.55px rgba(255, 0, 89, 0.25);

    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-image: url("/image/title/Gallery\ H2\ \(1\).png");
  }

  .about-list {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 100px;
    padding: 40px 86px;
    height: 1900px;
  }
  .about-item-two {
    margin-top: 194px;
  }
  .about-text {
    margin: auto;
  }
  .about-text-bold {
    font-family: Sansita One;
    font-weight: 400;
    font-size: 48px;
    line-height: 72px;
    letter-spacing: 0%;
    text-align: left;
    padding: 0 235px;
    -webkit-text-stroke: 1px rgba(238, 11, 190, 1);
  }
  .about-text-bold span {
    margin-left: 340px;
  }
}

.reviews {
  width: 375px;
  margin: auto;
}

.reviews-list {
  padding-top: 45px;
  padding-bottom: 70px;
  margin: auto;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  background-image: url("/image/reviews/Reviews\ BG\ 1.png");
}
.reviews-item {
  margin: 0 5px;
  width: 322px;
  height: 542px;
  padding: 16px 20px 20px;
  background: rgba(249, 230, 255, 1);
  box-shadow: 0px 4px 6px 0px rgba(0, 0, 0, 0.25);
}
.reviews-img {
  margin: auto;
}
.reviews-item-top {
  width: 282px;
  height: 372px;
  margin-top: 6px;
  border-radius: 9px;
  padding: 16px;
  background: rgba(199, 206, 255, 1);
  border: 2px solid rgba(129, 9, 199, 1);
}
.reviews-text-bold {
  font-family: Sansita One;
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  letter-spacing: 0%;
  text-align: center;
}
.reviews-text {
  font-family: Poppins;
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  letter-spacing: 0%;
  padding-top: 16px;
}

@media screen and (min-width: 1200px) {
  .reviews {
    width: 1440px;
    margin: auto;
    margin-top: -172px;
  }

  .reviews-list {
    padding-top: 52px;
    padding-bottom: 59px;
    background-image: url("/image/reviews/Reviews\ BG.png");
  }
  .reviews-item {
    margin: 0 16px;
  }
}

.faq {
  padding: 0px 0px 30px;
  margin: auto;
  width: 375px;
}
.faq-container {
  padding-top: 36px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin: auto;
}

.faq-item {
  width: 343px;
  background: linear-gradient(180deg, #ffaecc 0%, #f9dfbd 100%);
  margin: auto;
  box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.25);
  border-radius: 9px;
  padding-top: 16px;
}

.faq-question {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: Sansita One;
  font-weight: 400;
  font-size: 22px;
  line-height: 33px;
  letter-spacing: 0%;
  padding: 0 16px 16px;
  color: rgba(20, 20, 20, 1);
}

.toggle-button {
  background: none;
  border: none;

  cursor: pointer;
}

.faq-answer {
  background: rgba(255, 235, 217, 1);
  padding: 16px;
  border-bottom-right-radius: 9px;
  border-bottom-left-radius: 9px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  display: none;
}
.faq-img {
  margin: auto;
}
.faq-answer-text {
  font-family: Poppins;
  font-weight: 400;
  font-size: 16px;
  line-height: 27px;
  letter-spacing: 0%;
  text-align: center;
  padding-top: 10px;
}
.faq-image {
  display: none;
}
@media screen and (min-width: 1200px) {
  .faq-image {
    display: flex;
    margin-left: 954px;
    margin-top: -35px;
  }
  .faq {
    padding: 0px;
    margin: auto;
    width: 1440px;
  }
  .faq-container {
    padding-top: 52px;
    display: flex;
    flex-direction: column;
    gap: 8px;
  }

  .faq-item {
    width: 781px;
    background: linear-gradient(180deg, #ffaecc 0%, #f9dfbd 100%);
    margin: auto;
    box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.25);
    border-radius: 9px;
    padding-top: 16px;
  }

  .faq-question {
    font-family: Sansita One;
    font-weight: 400;
    font-size: 22px;
    line-height: 33px;
    letter-spacing: 0%;
  }

  .faq-answer-text {
    font-family: Poppins;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    letter-spacing: 0%;
    text-align: center;
  }
}
.gallery {
  width: 375px;
  margin: auto;
  padding: 25px 0px;
}

.gallery__list {
  width: auto;
  padding-top: 36px;
  padding-bottom: 24px;
  margin: auto;
}
.gallery__item {
  width: 274px;
  height: 489px;

  overflow: hidden;
  position: relative;
  margin: 0 4px;
}

.gallery__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

@media screen and (min-width: 1200px) {
  .gallery {
    width: 1440px;
    padding: 0;
    padding-bottom: 25px;
  }

  .gallery__item {
    width: 274px;
    height: 489px;
  }

  .gallery__list {
    width: auto;
    padding: 52px 0 24px;
  }
}

.footer {
  background: rgba(255, 255, 255, 0.2);

  padding: 16px 0px;
}
.footer-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px;
}

.footer-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;

  gap: 40px;
}
.footer-text {
  font-family: Poppins;
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  letter-spacing: 0%;
  padding: 0 16px 10px;
  text-decoration: none;
  transition: all 0.3s ease-in-out;
  color: rgba(14, 14, 14, 1);
}
.footer-text:hover,
.footer-text:focus {
  font-weight: 600;
  border-bottom: 1px solid rgba(14, 14, 14, 1);
}
.footer-copyright {
  font-family: Poppins;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  letter-spacing: 0%;
  text-align: center;
}

@media screen and (min-width: 1200px) {
  .footer {
    padding: 40px 0px;
  }
  .footer-container {
    gap: 40px;
  }

  .footer-wrapper {
    display: flex;
    flex-direction: row;

    gap: 60px;
  }
  .footer-text {
    font-family: Poppins;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    letter-spacing: 0%;
  }
  .footer-copyright {
    font-family: Poppins;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: center;
  }
}
.policy-terms-container {
  flex-direction: column;
  align-items: start;
  padding: 124px 16px 40px;
  background-color: #fff7eb;
}
.policy-terms-title {
  font-family: Sansita One;
  font-weight: 400;
  font-size: 24px;
  line-height: 36px;
  letter-spacing: 0%;
  text-align: center;
}

.policy-terms-text {
  font-family: Poppins;
  font-weight: 600;
  font-size: 24px;
  line-height: 36px;
  letter-spacing: 0%;

  padding-top: 20px;
}
.policy-terms-texts {
  font-family: Poppins;
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  letter-spacing: 0%;

  padding-top: 8px;
}
.policy-terms-text-one {
  font-family: Poppins;
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  letter-spacing: 0%;

  padding-top: 20px;
}

.terms-list {
  list-style-type: disc;

  padding: 20px 0 20px 25px;
  font-family: Poppins;
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  letter-spacing: 0%;

  display: flex;
  flex-direction: column;
}

.terms-lists {
  list-style-type: disc;

  padding-left: 25px;
  font-family: Poppins;
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  letter-spacing: 0%;
}
.email-link {
  color: inherit;
  text-decoration: none;
}
.email-link-color {
  color: inherit;
  text-decoration: none;
}
@media screen and (min-width: 1200px) {
  .policy-terms-container {
    padding: 186px 80px 40px;
  }
  .policy-terms-title {
    font-family: Sansita One;
    font-weight: 400;
    font-size: 32px;
    line-height: 48px;
    letter-spacing: 0%;
    text-align: center;
  }

  .policy-terms-text {
    font-family: Poppins;
    font-weight: 600;
    font-size: 24px;
    line-height: 36px;
    letter-spacing: 0%;

    padding-top: 40px;
  }
}

.cookie-popup {
  position: fixed;
  bottom: 10px;
  width: 342px;
  border-radius: 12px;
  padding: 32px;
  background: rgba(255, 255, 255, 1);
  border: 1px solid rgba(140, 51, 245, 1);
  box-shadow: 0px 14px 42px 0px rgba(8, 15, 52, 0.06);

  text-align: center;
  z-index: 1000;

  display: none;
}

.cookie-popup-text-two {
  font-family: Poppins;
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  letter-spacing: 0%;
  text-align: center;
  color: rgba(0, 0, 0, 1);
}
.cookie-button-container {
  padding: 24px 0 0;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 16px;
}
.cookie-button {
  border: none;
  font-family: Poppins;
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
  letter-spacing: 0%;
  text-align: center;
  width: 205px;
  height: 60px;
  border-radius: 45px;
  border: 3px solid rgba(140, 51, 245, 1);
  color: rgba(14, 14, 14, 1);
  box-shadow: 0px 4px 16px 0px rgba(76, 15, 111, 0.45);
  text-transform: uppercase;
}
#accept-cookies {
  background: radial-gradient(
    117.65% 500% at 140.31% -44.12%,
    #f423b5 0%,
    #5a50c7 100%
  );
  border: none;
  color: rgba(255, 255, 255, 1);
}
.close-popup {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 20px;
  cursor: pointer;
}
@media screen and (min-width: 1200px) {
  .cookie-popup-text-two {
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    letter-spacing: 0%;
    text-align: center;
  }
  .cookie-button-container {
    padding: 32px 0 0;
    margin: auto;
    display: flex;
    flex-direction: row;
    gap: 32px;
  }
  .cookie-popup {
    position: fixed;
    bottom: 10px;
    width: 685px;

    padding: 50px;
    display: none;
  }


}
